<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html>
<head>
<title>
     E-commerce
</title>
</head>
<body>
<form method="post" th:action="@{/create-user}" th:object="${userInfo}" enctype="multipart/form-data">
       Name: <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"/>
       Description: <input id="description" placeholder="Enter Description" required type="text" th:field="*{description}"/>
        Image:<input type="file" name="image" accept="image/*" />
   
       
    
    <input type="submit" value="Create User">
</form>
</body>
</html>
