<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">


<html>
<head>
<title>
     E-commerce
</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Description </th>
            <th>Image</th>
            
        </tr>
    </thead>
    <tbody>
	<tr th:if="${at.empty}">
            <td colspan="2"> No Users Available </td>
        </tr>
        <tr th:each="user : ${at}">
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.description}"> Description </span></td>
            <td><span style="max-height: 200px; max-width: 200px;"><img style="max-height: 100%; max-width: 100%;" alt="sample" th:src="*{'data:image/*;base64,'+user.image}" /></span></td>
        </tr>
    </tbody>
</table>


</body>
</html>